.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.logo {
  width: 70px;
}

.nav-item > ul {
  font-size: 24px;
  display: flex;

  list-style-type: none;
}

.nav-item > ul > li {
  padding: 10px;
  margin: 10px;
}
.body {
}
.search {
  padding: 10px;
}
.res-card {
  width: 200px;
  height: 300px;
  border: 1px solid black;
  background-color: darkgray;
}
.res-img {
  width: 100%;
}
